:root{
  --icon:#777;
  --backgroundCart:#2879fe;
  --footerTitleColor:#555;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
